h1 {
  text-align: center;
  colour: black;
  font-family: 'Courier-new', monospace; 
  font-size:40px;
}

nav {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 45px;
  colour: black;
}
