header {
  text-align: center;
  color: white;
  font-family: 'Courier-new', monospace; 
  font-size: 30px;
  background-color: gray;
  padding: 30px;
}

nav {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 25px;
  color: black;
  width: 30%;
}

article {
  float: left;
  width: 70%;
}
