header {
  text-align: center;
  color: color-gray;
  font-family: 'Courier-new', monospace; 
  font-size: 20px;
  background-color: color-black;
  padding: 30px;
}

nav {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 25px;
  color: black;
}
